/* ===== BASE STRUCTURE ===== */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/* ===== TOP NAVIGATION ===== */

/* Hide default border to remove 1px line.*/
.navbar-fixed-top {
  border: 0;
}

.navbar-fixed-top{
  background-color:#342D59;
  color: white;
}

.color-me{
    color:white;
}

.color-me-dos{
    color:#342D59;
}

.navbar-nav li {
  display: none;
  font-size: 175%;
}

@media ( max-width : 757px ) {

  .navbar-nav li {
    display: block;
  }

}

/* ===== SIDEBAR ===== */

/* Hide for mobile, show later */

@media ( max-width : 757px ) {

  .sidebar {
    display: none;
  }

}

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

@media ( max-width : 767px ) {

  .sidebar {
    visibility: hidden;
  }

}

/* =====  SIDEBAR NAVIGATION =====  */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar{
  font-size: 25px;
  color: #342D59;
  text-align: left;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #342D59;
}


/* ===== MAIN CONTENT ===== */

.main {
  padding: 20px;
}

@media (min-width: 768px) {

  .main {
    padding-right: 40px;
    padding-left: 40px;
  }

}

.main .page-header {
  margin-top: 0;
}

/* =====  PLACEHOLDER DASHBOARD IDEAS ===== */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}

.placeholders h4 {
  margin-bottom: 0;
}

.placeholder {
  margin-bottom: 20px;
}

.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
