#footer {
	font-size: 30pt;
	width: 100%;
	position: fixed;
	bottom: 0;
	opacity: 100%;
}

.navbar-brand {
	padding-top: 10px;
}

#little-logo {
	position: relative;
	height: inherit;
	width: auto;
	top: -10px;
	border: solid 2px #a6a6a6;
	-webkit-border-radius: 20%;
	-moz-border-radius: 20%;
	border-radius: 20%;
}

#big-logo {
	position: relative;
	display: block;
	margin: auto;
	margin-top: 5%;
	border: solid 3px #a6a6a6;
	-webkit-border-radius: 20%;
	-moz-border-radius: 20%;
	border-radius: 20%;
}

ul {
    list-style-type: none;
    padding-left: 0;
}


@media screen and ( max-width : 767px ) {

	#little-logo {
		top: -10px;
	}

}
