<!DOCTYPE html>
<html>
	<head>
		<title>Projtrack</title>
		{% load static %}
		<link rel="stylesheet" href="{% static "projtrack/styles/projtrack.css" %}" />
		<script src="{% static "projtrack/scripts/navbar.js" %}"></script>
	</head>
	<body>
		<h1>Projtrack</h1>
		<div id='navbar'></div>
		<h2>{% block title %}Home{% endblock %}</h2>
		<div id="content">
			{% block content %}
			<button onclick="my_projects()">My Projects</button><br>
			<button onclick="add_project()">Add a Project</button><br>
			<button onclick="add_client()">Add a Client</button><br>
			<button onclick="all_projects()">All Projects</button><br>
			{% endblock %}
		</div>
		<div>
			<table id="footer">
				<th>
					<td>
						University of Scranton CTLE
					</td>
					<td id="version">
					</td>
					<td id="date">
					</td>
				</th>
			</table>
		</div>
	</body>
</html>
