{% extends "projtrack/base.html" %}
<head>
	<title>Projtrack</title>
	{% load static %}
	<link rel="stylesheet" href="{% static "projtrack/styles/login_page.css" %}" />
	<script src="{% static "projtrack/scripts/page.js" %}"></script>
        <script>
            window.onload = function() {
                load_footer();
            }
        </script>
</head>
{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div align="center">
            <div class="jumbotron">
  <h1>Projtrack v3</h1>
  <p>
      <div id="error" style="color: red;">{{ error_message }}</div>
            <form action="/" method="post">

	           {% csrf_token %}
	           {% for field in form %}
	           <p>{{ field.label_tag }} {{ field }}</p>
	           {% endfor %}
	           <input class="btn btn-primary" type="submit" value="Login"></a>
            </form>
            </div>
        </div>
    </p>
</div>
  <div class="col-md-4"></div>
</div>
<div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <table id="footer">
		          <th>
			         <td>University of Scranton CTLE</td>
			         <td id="version"></td>
			         <td id="date"></td>
		          </th>
	           </table>
            </div>
            <div class="col-md-4"></div>
        </div>
</div>
{% endblock %}