<!DOCTYPE html>
<!--suppress ALL -->
<html>
{% load projtrack_filters %}
<head font-size: 150%;>
    <title>Report {{ report.date }}</title>
    <style>
	table, th, td {
	    border: 1px solid black;
	    padding: 5px;
	}

    </style>
</head>
<h1>{% block title %}Techcon Project Report{% endblock %}</h1>
<a href="{% url 'projtrack3:report_page' %}">Return to the report generation page.</a>
<br/>
<br/>
{% block content %}
{% csrf_token %}
Date: {{ report.date }}<br/>
Total Projects: {{ report.total_projects }}<br/>
Total Hours: {{ report.total_hours }}<br/>
Walk-ins: {{ report.walk_ins }} ({{ report.walk_in_percent }}%)<br/>
<h3>Projects per User</h3><br/>
<table>
    {% for key in report.users %}
    <tr>
        <td>{{ key }}</td>
        <td>{{ report.users|get_item:key }}</td>
    </tr>
    {% endfor %}
</table>
<br/>
<h3>Projects per Department</h3><br/>
<table>
    {% for key in report.depts %}
    <tr>
        <td>{{ key }}</td>
        <td>{{ report.depts|get_item:key }}</td>
    </tr>
    {% endfor %}
</table>
<br/>
<h3>Projects per Type</h3><br/>
<table>
    {% for key in report.types %}
    <tr>
        <td>{{ key }}</td>
        <td>{{ report.types|get_item:key }}</td>
    </tr>
    {% endfor %}
</table>
<br/>
<h3>Statistics</h3><br/>
<table>
    <tr>
        <td>Active Developers</td>
        <td>{{ report.stats.active_devs }}</td>
    </tr>
    <tr>
        <td>Average Projects per Developer</td>
        <td>{{ report.stats.average_proj }}</td>
    </tr>
    <tr>
        <td>Average Hours per Developer</td>
        <td>{{ report.stats.average_hour }}</td>
    </tr>
</table>
<br/>
<h3>Projects</h3><br/>
<table>
    <tr>
        <td><strong>Title</strong></td>
        <td><strong>Client</strong></td>
        <td><strong>Techcon</strong></td>
        <td><strong>Hours</strong></td>
        <td><strong>Date</strong></td>
        <td><strong>Description</strong></td>
    </tr>
    {% for x in report.project_list %}
    <tr>
        <td>{{ x.title }}</td>
        <td>{{ x.client }}</td>
        <td>{{ x.users }}</td>
        <td>{{ x.hours }}</td>
        <td>{{ x.date }}</td>
        <td>{{ x.description }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
</html>
