<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Faculty Not Using Desire 2 Learn Report Generator</title>
</head>
<body>
<a href={% url 'd2lstat:index' %}>Click Here to go Back to the Main D2L Statistics Form</a>
<h1>Faculty Not Using Desire 2 Learn Report Generator</h1>
<form action="{% url 'd2lstat:facultyNotUsingD2L' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>Instructor Usage</td>
            <td><input id="usage" name="usage" title="Browse..." type="file" value="Browse..."></td>
        </tr>
        <tr>
            <td>Full-Time Faculty</td>
            <td><input id="full" name="full" title="Browse..." type="file" value="Browse..."></td>
        </tr>
        <tr>
            <td>Part-Time Faculty</td>
            <td><input id="part" name="part" title="Browse..." type="file" value="Browse..."></td>
        </tr>

    </table>
    <input name="submit" title="Submit" type="submit">
</form>
</body>
</html>