<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>D2L Statistics Report Generator</title>
</head>
<body>
<h1>D2L Statistics Report Generator v0.2</h1>
<form action="{% url 'd2lstat:index' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>Instructor Usage</td>
            <td><input id="usage" name="usage" title="Browse..." type="file" value="Browse..."></td>
        </tr>
        <tr>
            <td>Full-Time Faculty</td>
            <td><input id="full" name="full" title="Browse..." type="file" value="Browse..."></td>
        </tr>
        <tr>
            <td>Part-Time Faculty</td>
            <td><input id="part" name="part" title="Browse..." type="file" value="Browse..."></td>
        </tr>
        <tr>
            <td>Semester</td>
            <td><input id="semester" name="semester" type="text"></td>
        </tr>
        <tr>
            <td>Total Courses</td>
            <td><input id="total_courses" name="total_courses" type="text"></td>
        </tr>
    </table>
    <input name="submit" title="Submit" type="submit">
</form>
</body>
</html>