<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <script th:inline="Javascript" src="scripts/navbar.js"></script>
</head>
<body>
<div id="header">
    <h1>Projtrack</h1>
    <div id="navbar">Navbar</div>
</div>
<div>
    <form method="post">
        <!-- The select boxes' contents should be grabbed from the database. -->
        <h1>Add a New Project</h1>
        Title<br/>
        <input type="text"/><br/>
        Description<br/>
        <input type="text"/><br/>
        Type<br/>
        <input type="text"/><br/>
        <h2>Client</h2>
        Existing Client<br/>
        <select>

        </select>
        Create new Client<br/>
        First Name<br/>
        <input type="text"/><br/>
        Last Name<br/>
        <input type="text"/><br/>
        Email<br/>
        <input type="text"/><br/>
        Department<br/>
        <select>

        </select><br/>
        Participating Techcons<br/>
        <select>

        </select><br/>
        <input type='submit' name='submit' value='Save Project'/><br/>
    </form>
</div>
<div id="footer">
    <table>
        <th>
        <td>University of Scranton</td>
        <td>CTLE</td>
        <td id='version'></td>
        </th></table>
</div>
</body>
</html>
