<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"></meta>
		<title>Home</title>
		<script th:inline="Javascript" src="scripts/navbar.js"></script>
	</head>
	<body>
		<div id="header">
			<h1>Projtrack</h1>
			<div id="navbar">Navbar</div>
		</div>
		<div id="content">
			<div id="buttons">
				<br /><button onclick="window.location = 'my_projects.html'">My Projects</button><br />
				<br /><button onclick="window.location = 'add_project.html'">Add Project</button><br />
				<br /><button onclick="window.location = 'all_projects.html'">All Projects</button><br />
				<br /><button onclick="window.location = 'logout'">Log Out</button><br />
			</div>
			<div id="recent_projects">
			</div>
		</div>
		<div id="footer">
			<table><th><td>University of Scranton</td><td>CTLE</td><td id='version'></td></th></table>
		</div>
	</body>
</html>
